body {
  font-family: Gotham, Helvetica, sans-serif;
  padding: 2em;
  background-color: indigo;
  padding-top: 0;
}

h1 {
  font-size: 3.0em;
}

.logo {
  font-size: 4.0em;
  color: white;
}

.skillset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-html {
  background-color: #1abc9c;
}

.skill-js {
  background-color: #9b59b6;
}

.skill-jquery {
  background-color: #e74c3c;
}

.skill-rand {
  background-color: #2ecc71;
}

.skill-html,
.skill-js,
.skill-jquery,
.skill-rand {
  width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  color: whitesmoke;
}

.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
